@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

@{
    var rootNode = Umbraco.TypedContentAtRoot();
    var menuItems = rootNode.First().Children.Where(x => x.GetPropertyValue<bool>("hideInNavigation") == false);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Ms.Ngoc</title>
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />

    <!--Slider-->
    <script src="~/js/Slider/jssor.slider.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        jssor_1_slider_init = function () {

            var jssor_1_SlideshowTransitions = [
                { $Duration: 1200, x: -0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                { $Duration: 1200, x: 0.3, $SlideOut: true, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 }
            ];

            var jssor_1_options = {
                $AutoPlay: 1,
                $SlideshowOptions: {
                    $Class: $JssorSlideshowRunner$,
                    $Transitions: jssor_1_SlideshowTransitions,
                    $TransitionsOrder: 1
                },
                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$
                },
                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,
                    $Orientation: 2,
                    $NoDrag: true
                }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 980;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    </script>
    <link href="~/css/Slider/slider.css" rel="stylesheet" />
    <script type="text/javascript">jssor_1_slider_init();</script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <!--Star Navbar-->
    <nav class="navbar navbar navbar-fixed-top" style="background-color:white;border:none; border-bottom: 2px solid #ccc; box-shadow:0 0.15em 0.35em 0 rgba(0,0,0,0.135); width:auto; height:80px">
        <div class="container text-center" style="width:1200px;height:70px;background-color:white;border-bottom:1px solid red">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#abc" style="border-color:black">
                    <span class="icon-bar" style="background-color:#97b2ba"></span>
                    <span class="icon-bar" style="background-color:#97b2ba"></span>
                    <span class="icon-bar" style="background-color:#97b2ba"></span>
                </button>
                <a class="navbar-brand" href="#" style="float:left" id="logo">krikla</a>
            </div>
            <div class="collapse navbar-collapse text-center" id="abc">
                <ul class="nav navbar-nav">
                    <li class="active menu-active"><a href="#">Home</a></li>
                    @foreach (var item in menuItems)
    {

                <li><a href="@item.Url">@item.Name</a></li>
}
                </ul>
            </div>
        </div>
    </nav>
    <div style="clear:both"></div>
    <!--End Navbar-->
    <div class="content">
        @RenderBody()
    </div>

    <!--End LATEST BLOG POSTS-->
    <div class="clearfix"></div>
    <!--Start footer-->
    <div class="menu-footer">
        <div class="text-center" role="contentinfo">
            <div id="footer-menu" style="font-size:15px;letter-spacing:1px;color:black;width:1200px;height:111px;margin:0 auto;">
                <div id="menu-footer-menu" style="padding-left:384px">
                    <ul>
                        <li><a href="#">TERMS & CONDITIONS</a></li>
                        <li><a href="#">PRIVACY POLICYS</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div id="local" style="width: 1200px;height:30px; margin: 0 auto;padding-left:512px;margin-top: -17px">
                    <ul style="list-style:none;">
                        <li><a href="#"><div style="font-size:20px"><i class="fa fa-facebook"></i></div></a></li>
                        <li><a href="#"><div style="font-size:20px"><i class="fa fa-instagram"></i></div></a></li>
                        <li><a href="#"><div style="font-size:20px"><i class="fa fa-pinterest-p"></i></div></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div style="width:1200px;margin:0 auto;margin-bottom:10px">
                    <p style="font-size:12px;letter-spacing:1px">© 2011–2018 Krikla Interior Design Services</p>
                </div>
            </div>

        </div>
    </div>

    <!--End footer-->

</body>
</html>

