@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@

<body>
    
    <!--Start Path-->
    <div style="height: 45px;width:auto;background-color:rgba(0,0,0,0.05)">
        <div class="container-fluid" id="path" style="height:45px;width: 1200px;margin-top:80px">
            <div id="groupPath">
                <ul style="list-style:none">
                    <li><a href="#"><div style="color:black"><i class="fa fa-home"></i></div></a></li>
                    <li><a href="#"><div ><i class="fa fa-angle-right"></i></div></a></li>
                    <li><p>Aboutus</p></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Path-->
    <!--StartContent-->
    <div id="content" class="container">
        <div class="text-center">
            <span><h1 style="text-align:center">Personalised Expert Design Service for Everyone</h1></span>
        </div>
        <!--Content01-->
        <div class="col-sm-4 col-sm-12">
            <div class="text-center">
                <img src="~/images/img_flower.jpg" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-8 col-sm-12" style="text-align:left; width:65.33332%;float:right">
            <span>
                Krikla is a professional design firm dedicated to creating personalised design solutions for every client, budget and or style.

                We believe good design doesn’t have to be expensive and should be accessible to everyone.

                Whatever your projects: small, one room, a city apartment or country home we understand the importance of individualized design.
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--EndContent-->
   
</body>


