@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@{ 
    var rootNode = Umbraco.TypedContentAtRoot();
    var aboutItem = rootNode.DescendantsOrSelf("aBOUTUS").First();
}

<body>
    
    <!--Start Path-->
    <div style="height: 45px;width:auto;background-color:rgba(0,0,0,0.05)">
        <div class="container-fluid" id="path" style="height:45px;width: 1200px;margin-top:80px">
            <div id="groupPath">
                <ul style="list-style:none">
                    <li><a href="/"><div style="color:black"><i class="fa fa-home"></i></div></a></li>
                    <li><div ><i class="fa fa-angle-right"></i></div></li>
                    <li><a href="@aboutItem.Url"><p>Aboutus</p></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Path-->
    <!--StartContent-->
    <div id="content" class="container">
        <div class="text-center">
            <span><h1 style="text-align:center">Personalised Expert Design Service for Everyone</h1></span>
        </div>
        <!--Content01-->
        <div class="entry-content content">
                <div class="x-selection" style="margin: 0px;padding: 0px 0px;background-color: transparent;">
                    <div class="container max width" style="margin: 0px auto;padding: 0px;">
                        @Html.Raw((aboutItem.GetPropertyValue<string>("aboutUsItem")))
                    </div>
                </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--EndContent-->
   
</body>


