@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@


<body>
    <!--Start Path-->
    <div class="path" style="height: 45px;width:100%;background-color:rgba(0,0,0,0.05)">
        <div class="container-fluid" id="path" style="height:45px;width: 1200px;margin-top:80px">
            <div id="groupPath">
                <ul style="list-style:none">
                    <li><a href="#"><div style="color:black"><i class="fa fa-home"></i></div></a></li>
                    <li><a href="#"><div><i class="fa fa-angle-right"></i></div></a></li>
                    <li><a href="#"><p>BLOG</p></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Path-->
    <!--Start Content-->
    <div >
        <div class="text-center" style="margin-top:30px;margin-bottom:30px;font-size:30px;font-weight:400">
            <p>DESIGN BLOG</p>
            <div>
                so trang
            </div>
        </div>
        <div class="col-sm-8 col-xs-12">
            <div>
                <div style="width:1200px; margin: 0 auto;">
                    <div style="box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);margin-bottom:60px;width:810px;height:auto">
                        <div><a href="#"><img src="~/images/Portfolio_01.jpg" style="width:810px;height:780px" /></a></div>
                        <div style="margin:0;padding:0; text-align:center;width:810px;height:auto;text-transform:uppercase;font-size:15px;font-style:normal;padding: 29px 6.5% 35px;">
                            <h2><a href="#">WHY KIDS ROOMS ARE NOT EASY TO DECORATE</a></h2>
                            <span>I bet you have kids and are planning to refurbish your home? Not difficult to guess because you are looking for advice on this page. Maybe you are inspired by …</span>
                            <br />
                            <a href="#" style="color:black;font-weight:bold;font-size:10px;font-family:sans-serif;width:810px;height:auto">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:right;width:331px">
            <div>
                <p><i class="fa fa-bookmark"></i> CATEGORIES</p>
                <ul>
                    <li><a href="">Checklists</a></li>
                    <li><a href="">Design Hotels</a></li>
                    <li><a href="">Eclectic House of the Month</a></li>
                    <li><a href="">Fashion</a></li>
                    <li><a href="">Guides</a></li>
                    <li><a href="">Home Improvement Advice</a></li>
                    <li><a href="">Inspiration</a></li>
                    <li><a href="">Interior Designs</a></li>
                    <li><a href="">Sundry</a></li>
                   <!---->
                </ul>
            </div>
            <div>
                <p><i class="fa fa-book"></i> RECENT POSTS</p>
                <ul>
                    <li><a href="">WHY KIDS ROOMS ARE NOT EASY TO DECORATE</a></li>
                    <li><a href="">GET CLARITY ON WHAT YOUR IDEAL HOME SHOULD LOOK LIKE</a></li>
                    <li><a href="">GET PIECE OF MIND BEFORE STARTING YOUR HOME REFURBISHMENT PROJECT</a></li>
                    <li><a href="">DETERMINING GOALS BEFORE BEGINNING YOUR HOME REFURBISHMENT</a></li>
                    <li><a href="">FOUR MISTAKES BUSY FAMILIES MAKE WHEN PREPARING FOR THEIR HOME IMPROVEMENT</a></li>
                </ul>
            </div>
            <div>
                <p><i class="fa fa-tags"></i> TAGS</p>
            </div>
            <div>
                <p>image</p>
                <p><i class="fa fa-chevron-right"></i> ADSENSE</p>
            </div>
        </div>
    </div>
    <!--The End Content-->
</body>

