@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@

<body>
    <!--Start Path-->
    <div class="path" style="height: 45px;width:100%;background-color:rgba(0,0,0,0.05)">
        <div class="container-fluid" id="path" style="height:45px;width: 1200px;margin-top:80px">
            <div id="groupPath">
                <ul style="list-style:none">
                    <li><a href="#"><div style="color:black"><i class="fa fa-home"></i></div></a></li>
                    <li><a href="#"><div><i class="fa fa-angle-right"></i></div></a></li>
                    <li><a href="#"><p>Contact</p></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Path-->
    <!--Start Content-->
    <div>
        <div class="text-center">
            <p style="margin-top:30px;margin-bottom:30px;font-size:30px;font-family:sans-serif;">GET IN TOUCH</p>
            <p>If you’re looking to improve your home, consider the Krikla solution.</p>
            <p>We’ll transform your living space into something special with our excellent interior design service.</p>
        </div>
        <div class="col-sm-6 col-xs-12" style="margin-top:30px">
            <p style="font-size:18px">SEND US YOUR MESSAGE USING THE FORM BELOW</p>
            <p id="name">
                <label for="author">
                    YOUR NAME(required)
                </label>
                <br />
                <input style="width:364px;height: 34px;" id="author" name="author" type="text" value size="30" maxlength="245" aria-required="true" required />
            </p>
            <p id="email">
                <label for="author">
                    YOUR EMAIL(required)
                </label>
                <br />
                <input style="width:364px;height: 34px;" id="author" name="author" type="text" value size="30" maxlength="245" aria-required="true" required />
            </p>
            <p id="subject">
                <label for="author">
                    Subject
                </label>
                <br />
                <input style="width:364px;height: 34px;" id="author" name="author" type="text" value size="30" maxlength="245" aria-required="true" required />
            </p>
            <p class="you_message">
                <label form="message" style="padding-bottom:10px">Your Message</label>
                <br />
                <textarea style="height:auto;width: 364px" id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required></textarea>
            </p>
        </div>
        <div class="col-sm-6 col-xs-12"style="margin-top:30px;font-size:18px">
            <div>
                <p>WHY USE KRIKLA INTERIOR DESIGN SERVICES?</p>

            </div>

        </div>
    </div>
    <!--End Content-->
</body>

