@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@



    <!--Start slider-->
    <div id="silder">
        <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1200px;height:882px;overflow:hidden;visibility:hidden;">
            <!-- Loading Screen -->

            <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1200px;height:882px;overflow:hidden;">
                <div>
                    <img data-u="image" src="~/images/5316-Krikla-Website-Previous-Success-Five-Storey-Townhouse-In-Chelsea-1-1.jpg" />

                </div>
                <div>
                    <img data-u="image" src="~/images/002.jpg" />

                </div>
                <div>
                    <img data-u="image" src="~/images/003.jpg" />

                </div>
                <div>
                    <img data-u="image" src="~/images/004.jpg" />

                </div>
                <div>
                    <img data-u="image" src="~/images/005.jpg" />

                </div>
                <div>
                    <img data-u="image" src="~/images/006.jpg" />

                </div>
                <div>
                    <img data-u="image" src="~/images/007.jpg" />

                </div>
                <div>
                    <img data-u="image" src="~/images/008" />

                </div>
                <div>
                    <img data-u="image" src="~/images/009.jpg" />

                </div>
                <div>
                    <img data-u="image" src="~/images/010.jpg" />

                </div>

            </div>
            <!-- Thumbnail Navigator -->

        </div>
        <script type="text/javascript">jssor_1_slider_init();</script>

    </div>

    <hr>
    <!--End slider-->
    <!-- Start ROOM DESIGN PACKAGES-->
    <div id="DESIGN PACKAGES" class="body" style="height:800px;width:auto">
        <div style="width:1200px;height:732.38px;margin:0 auto">
            <div id="pricing" class="container-fluid" style="width:1200px;height:33px;margin:0 auto">
                <div class="text-center" style="margin-bottom: 77px">
                    <h2>ROOM DESIGN PACKAGES </h2>
                </div>
                <div class="row slideanim">
                    <div class="col-sm-4 col-xs-12">
                        <div class="">
                            <div class="text-center">
                                <h1>FURNISH </h1>
                            </div>
                            <div class="text-center">
                                <img class="aligncenter size-full wp-image-5253" src="https://krikla.com/wp-content/uploads/2018/02/krikla-design-service-250.png" alt="Furnish - Interior design services by Krikla" width="300" height="520">
                            </div>
                            <div class="text-center" style="margin-top:23px">
                                <button class="btn btn-lg" href="#">GET A QUOTE </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="text-center">
                            <div class="">
                                <h1>IMPROVE</h1>
                            </div>
                            <div class="">
                                <img class="aligncenter size-full wp-image-5254" src="https://krikla.com/wp-content/uploads/2018/02/krikla-design-service-350.png" alt="Improve - Interior design services by Krikla" width="300" height="520">
                            </div>
                            <div class="text-center" style="margin-top:23px">
                                <button class="btn btn-lg" href="#">GET A QUOTE</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="text-center">
                            <div class="">
                                <h1>REFURBISH</h1>
                            </div>
                            <div class="">
                                <img class="aligncenter size-full wp-image-5255" src="https://krikla.com/wp-content/uploads/2018/02/krikla-design-service-600.png" alt="Refurbish - Interior design services by Krikla" width="300" height="520">
                            </div>
                            <div class="text-center" style="margin-top:23px">
                                <button class="btn btn-lg" href="#">GET A QUOTE </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End ROOM DESIGN PACKAGES-->
    <!--Start LATEST BLOG POSTS-->
    <div id="BLOG POSTS" class="text-center" style="margin-top:200px">
        <hr />
        <div id="titlePost">
            <h2>LATEST BLOG POSTS</h2>
        </div>
        <!--sliderBlogPost-->
        <div class="clearfix"></div>
        <div id="Bloghot_wrapper">
            <div id="Bloghot">
                <ul>
                    <li><img src="~/images/iconACB.jpg" width="233" height="97" /></li>
                    <li><img src="~/images/iconDongA.jpg" width="233" height="97" /></li>
                    <li><img src="~/images/iconExim.jpg" width="233" height="97" /></li>
                    <li><img src="~/images/iconHD.jpg" width="233" height="97" /></li>
                    <li><img src="~/images/iconMB.jpg" width="233" height="97" /></li>
                </ul>
            </div>
        </div>

        <div style="margin-top:15px;margin-bottom:15px;">
            <button type="button" href="#" class="button" style="margin:0 auto">READ MORE POSTS</button>
        </div>
    </div>
    <!--End LATEST BLOG POSTS-->
    <hr />
    <!--Start LOOKING FOR SOLUTIONS-->
    <div id="SOLUTIONS" style="width:1200px;height:579px;margin:0 auto">
        <div class="text-center" style="margin-top: 73px; margin-bottom: 73px">
            <h2>
                <span>LOOKING FOR SOLUTIONS?</span>
                <br />
                <span>OUR CLIENTS SHARE THEIR STORIES….</span>
            </h2>
        </div>
        <div id="myCarousel" class="carousel text-center" data-ride="carousel">
            <!-- Indicators -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h4>"Cảm ơn myclass.vn đã mang lại những khoá học tuyệt vời."<br><span style="font-style:normal;">Nguyễn Duy , Đại học QG Hà Nội , Bình luận </span></h4>
                </div>
                <div class="item">
                    <h4>"Trang web myclass.vn làm cho chúng tôi thật sự ấn tượng... !!"<br><span style="font-style:normal;">Mỹ Linh , Chủ tịch  , Nhakhoaphutho  </span></h4>
                </div>
                <div class="item">
                    <h4>"Hệ thống quản lý Kho của myclass.vn đã xây dựng giúp tôi tiết kiệm nhiều thời gian và chi phí "<br><span style="font-style:normal;">Mỹ Lê , Phó giám đốc , Enco </span></h4>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <hr>
    <!--End LOOKING FOR SOLUTIONS-->
    <!-- Star OUR FOUR STEP PROCESS-->
    <div id="STEP PROCESS" class="container-fluid">
        <div id="STEP PROCESS01" class="text-center" style="margin-bottom:50px">
            <div style="width:1200px;height:39px;margin:0 auto">
                <h2>OUR FOUR STEP PROCESS</h2>
            </div>
            <div style="width:1200px;height:21px;margin:0 auto">
                <span>Any happy design relationship has a great design process behind it.</span>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="text-center">
                <h2>
                    Initial Visit
                </h2>
            </div>
            <div style="text-align:right">
                <span>Every home is unique. We’ll come round, take measurements, and listen to what you want to achieve.</span>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div>
                <img src="~/images/img_chania.jpg" />
            </div>
        </div>
        <!--STEP PROCESS02-->

        <div class="col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="~/images/img_chania2.jpg" />
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="text-center">
                <h2>
                    DESIGN CONCEPT
                </h2>
            </div>
            <div style="text-align:left" style="margin-bottom:20px">
                <span>
                    We believe in a tailored approach that suits your needs.
                    Our proposal will consider your style preferences to find the best design for you.
                </span>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--STEP PROCESS03-->

        <div class="col-sm-6 col-xs-12">
            <div class="text-center">
                <h2>
                    2D AND/OR 3D DRAWING
                </h2>
            </div>
            <div style="text-align:right">
                <span>
                    We believe in a tailored approach that suits your needs.
                    Our proposal will consider your style preferences to find the best design for you.
                </span>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="~/images/img_chania2.jpg" />
            </div>
        </div>
        <!--STEP PROCESS04-->
        <div class="col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="~/images/img_chania2.jpg" />
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">

            <div class="text-center">
                <h2>
                    SHOPPING LIST
                </h2>
            </div>
            <div style="text-align:right">
                <span>
                    We believe in a tailored approach that suits your needs.
                    Our proposal will consider your style preferences to find the best design for you.
                </span>
            </div>
        </div>
    </div>
    <hr>
    <!--End OUR FOUR STEP PROCESS-->
    <!--Start DISCOVER WHAT’S POSSIBLE-->
    <div id="POSSIBLE">
        <div id="SOLUTIONS" class="text-center" style="width:1200px;height:30px;margin:0 auto">
            <div class="text-center" style="margin-top: 73px; margin-bottom: 73px">
                <h2>
                    <span>DISCOVER WHAT’S POSSIBLE</span>
                </h2>
            </div>
        </div>
        <div style="width:1200px;height:30px;margin:0 auto;font-size:18px;text-align:center; margin-top:10px;margin-bottom:10px">
            <p>We’ve worked with some wonderful clients. We’ve transformed empty spaces with inspirational and functional design. It’s all about the collaboration. Work with Krikla interior design, and together we’ll create something that truly shines.</p>
        </div>
        <div class="container">
            <br>
            <div id="myCarousel02" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/images/bann1.jpg" alt="Chania" width="460" height="345">
                    </div>
                    <div class="item">
                        <img src="~/images/bann2.jpg" alt="Chania" width="460" height="345">

                    </div>
                    <div class="item">
                        <img src="~/images/bann3.jpg" alt="Flower" width="460" height="345">

                    </div>
                    <div class="item">
                        <img src="~/images/cinqueterre.jpg" alt="Flower" width="460" height="345">

                    </div>

                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel02" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel02" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="container" style="width:1200px;height:180px;margin:0 auto">
            <button type="button" class="button" href="">VIEW OUR PORTFOLIO</button>

        </div>
    </div>

    <!--End DISCOVER WHAT’S POSSIBLE-->


