@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<!--Start Path-->
<div style="height: 45px;width:auto;background-color:rgba(0,0,0,0.05)">
    <div class="container-fluid" id="path" style="height:45px;width: 1200px;margin-top:80px">
        <div id="groupPath">
            <ul style="list-style:none">
                <li><a href="/"><div style="color:black"><i class="fa fa-home"></i></div></a></li>
                <li><div><i class="fa fa-angle-right"></i></div></li>
                <li><p>IMPROVE PACKAGE FORM</p></li>
            </ul>
        </div>
    </div>
</div>
<!--End Path-->
<!--StartContent-->
<div class="x-container max width offset">
    <div class="x-main full">
        <article>
            <div class="entry-wrap">
                <div class="entry-content content">
                    <div class="x-content-band vc" style="background-color: transparent;padding-top: 0px;padding-bottom: 0px;">
                        <div class="x-container wpb_row">
                            <div class="x-column x-sm vc x-1-1">
                                <h1>“Improve” Package Quotation</h1>
                                <hr style="margin: 40px 0 0 0; border-color:white" />
                                <div id="form_row">
                                    <form method="post">
                                        <div class="wizard clearfix">
                                            <div class="steps clearfix">
                                                <ul>
                                                    <li class="first current">
                                                        <a href="">
                                                            <span class="current-info audible">current step: </span>
                                                            <span class="number"> 1.</span>
                                                            Q1
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="">
                                                            <span class="number"> 2.</span>
                                                            Q2
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="">
                                                            <span class="number"> 3.</span>
                                                            Q3
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </div>
</div>
<!--EndContent-->
@* the fun starts here *@

