@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@


<body>
    <!--Start Path-->
    <div style="height: 45px;width:auto;background-color:rgba(0,0,0,0.05)">
        <div class="container-fluid" id="path" style="height:45px;width: 1200px;margin-top:80px">
            <div id="groupPath">
                <ul style="list-style:none">
                    <li><a href="#"><div style="color:black"><i class="fa fa-home"></i></div></a></li>
                    <li><a href="#"><div><i class="fa fa-angle-right"></i></div></a></li>
                    <li><p>Packages</p></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Path-->
    <!--Content-->
    <div>
        <div class="text-center">
            <h2>ROOM DESIGN PACKAGES</h2>
            <span>We offer different packages of interior design that are affordable to our customers and with 100% efforts in each one of them.</span>
        </div>
        <div class="clearfix"></div>

        <div>
            <div class="row slideanim">
                <div class="col-sm-4 col-xs-12">
                    <div class="">
                        <div class="text-center">
                            <h1>FURNISH </h1>
                        </div>
                        <div class="text-center">
                            <img class="aligncenter size-full wp-image-5253" src="https://krikla.com/wp-content/uploads/2018/02/krikla-design-service-250.png" alt="Furnish - Interior design services by Krikla" width="300" height="520">
                        </div>
                        <div class="text-center" style="margin-top:23px">
                            <button class="btn btn-lg" href="#">GET A QUOTE </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="text-center">
                        <div class="">
                            <h1>IMPROVE</h1>
                        </div>
                        <div class="">
                            <img class="aligncenter size-full wp-image-5254" src="https://krikla.com/wp-content/uploads/2018/02/krikla-design-service-350.png" alt="Improve - Interior design services by Krikla" width="300" height="520">
                        </div>
                        <div class="text-center" style="margin-top:23px">
                            <button class="btn btn-lg" href="#">GET A QUOTE</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="text-center">
                        <div class="">
                            <h1>REFURBISH</h1>
                        </div>
                        <div class="">
                            <img class="aligncenter size-full wp-image-5255" src="https://krikla.com/wp-content/uploads/2018/02/krikla-design-service-600.png" alt="Refurbish - Interior design services by Krikla" width="300" height="520">
                        </div>
                        <div class="text-center" style="margin-top:23px">
                            <button class="btn btn-lg" href="#">GET A QUOTE </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--FAQ-->
        <div class="text-center" style="margin-top:50px; margin-bottom:50px;font-size:20px">
            <span>FAQ</span>
        </div>
        <div>
            <div class="">
                <ul style="list-style:none;text-transform:uppercase;">
                    <li style="border:1px solid #eee;border-radius:6px; width:574px;height:46px;color:#666;text-decoration:none"><h4><i class="fa fa-angle-down"></i><a href="" style="color:#666">Do you favour a particular style of design?</h4></a></li>
                    <li style="border:1px solid #eee;border-radius:6px; width:574px;height:46px;color:#666"><h4><i class="fa fa-angle-down"></i><a href="" style="color:#666">I don’t know which interior design package is right for me. Can you help me choose the right one?</h4></a></li>
                    <li style="border:1px solid #eee;border-radius:6px; width:574px;height:46px;color:#666"><h4><i class="fa fa-angle-down"></i><a href="" style="color:#666">Do you have to see the property in person to draw up a design proposal?</h4></a></li>
                </ul>
            </div>

        </div>
    </div>
    <!--The end Content-->

</body>

