@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@

<body>
    <!--Start Path-->
    <div style="height: 45px;width:auto;background-color:rgba(0,0,0,0.05)">
        <div class="container-fluid" id="path" style="height:45px;width: 1200px;margin-top:80px">
            <div id="groupPath">
                <ul style="list-style:none">
                    <li><a href="#"><div style="color:black"><i class="fa fa-home"></i></div></a></li>
                    <li><a href="#"><div><i class="fa fa-angle-right"></i></div></a></li>
                    <li><p>PROCESS</p></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Path-->
    <!--Content-->
    <div class="container-fluid">
        <div id="content" class="text-center">
            <div id=" titleStepProcess">
                <div>
                    <div class="text-center">
                        <h2>OUR FOUR STEP PROCESS</h2>
                    </div>
                </div>
                <div class="clearfix text-center"></div>
                <p>Any happy design relationship has a great <a href="" style="color:black">design</a> process behind it.</p>
            </div>
            <div id="StepProcess01" class="text-center">
                <h2><img src="" />INITIAL VISIT</h2>
                <p>Every home is unique. We’ll come round, take measurements, and listen to what you want to achieve.</p>
                <img src="~/images/003.jpg" />
            </div>
            <!--hr-->
            <div style="background-color:#eee; width:1200px; height:1px; margin:0 auto;margin-top:30px"></div>
            <!--hr-->
            <div id="StepProcess02" class="text-center">
                <h2><img src="" />DESIGN CONCEPTT</h2>
                <p>
                    We believe in a tailored approach that suits your needs.
                    Our proposal will consider your style preferences to find the best design for you
                </p>
                <img src="~/images/003.jpg" />
            </div>
            <!--hr-->
            <div style="background-color:#eee; width:1200px; height:1px; margin:0 auto;margin-top:30px"></div>
            <!--hr-->
            <div id="StepProcess03" class="text-center">
                <h2><img src="" />2D AND/OR 3D DRAWING</h2>
                <p>
                    We will match our bespoke design concept to your measurement requirements
                </p>
                <img src="~/images/003.jpg" />
                <p>
                    and create your room visualisation.
                </p>
                <img src="~/images/003.jpg" />
            </div>
            <!--hr-->
            <div style="background-color:#eee; width:1200px; height:1px; margin:0 auto;margin-top:30px"></div>
            <!--hr-->
            <div id="StepProcess04">
                <h2><img src="" /> SHOPPING LIST</h2>
                <p>
                    Once your design concept and drawings are ready we will consolidate your shopping list.
                </p>
                <img src="~/images/003.jpg" />
            </div>
        </div>
        <!--the end Content-->

</body>

