@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<body>
    <div class="searchform-overlay">
        <div class="searchform-overlay-inner">
            <div class="container max width">
                <form id="searchform" class=" form-search center-text" action="">
                    <label for="s" class="cfc-h-tx tt-upper">Type and Press “enter” to Search</label>
                    
                    <input type="text" id="s" class="search-query cfc-h-tx center-text tt-upper" name="s"/>
                </form>
            </div>
            
        </div>
    </div>
</body>

