<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT improvePacketForm ANY>
<!ATTLIST improvePacketForm id ID #REQUIRED>
<!ELEMENT hOME ANY>
<!ATTLIST hOME id ID #REQUIRED>
<!ELEMENT aBOUTUS ANY>
<!ATTLIST aBOUTUS id ID #REQUIRED>
<!ELEMENT pROCESS ANY>
<!ATTLIST pROCESS id ID #REQUIRED>
<!ELEMENT pACKAGES ANY>
<!ATTLIST pACKAGES id ID #REQUIRED>
<!ELEMENT portfolio ANY>
<!ATTLIST portfolio id ID #REQUIRED>
<!ELEMENT bLog ANY>
<!ATTLIST bLog id ID #REQUIRED>
<!ELEMENT cONTACTS ANY>
<!ATTLIST cONTACTS id ID #REQUIRED>
<!ELEMENT portfolio_item ANY>
<!ATTLIST portfolio_item id ID #REQUIRED>
<!ELEMENT blogItem ANY>
<!ATTLIST blogItem id ID #REQUIRED>
<!ELEMENT misc ANY>
<!ATTLIST misc id ID #REQUIRED>
<!ELEMENT potential_Customer ANY>
<!ATTLIST potential_Customer id ID #REQUIRED>
<!ELEMENT banner ANY>
<!ATTLIST banner id ID #REQUIRED>
<!ELEMENT solution ANY>
<!ATTLIST solution id ID #REQUIRED>
<!ELEMENT dISCOVERWHATSPOSSIBLE ANY>
<!ATTLIST dISCOVERWHATSPOSSIBLE id ID #REQUIRED>
<!ELEMENT stepProcess ANY>
<!ATTLIST stepProcess id ID #REQUIRED>
]>
<root id="-1">
  <hOME id="1076" key="e78109c6-f576-4159-8533-1cd68ac043ba" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-03-14T17:20:26" updateDate="2018-04-17T18:32:12" nodeName="HOME" urlName="home" path="-1,1076" isDoc="" nodeType="1069" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1062" nodeTypeAlias="hOME" isPublished="true">
    <discover><![CDATA[umb://media/555fa7098e4b43849dd7dea25d5519db,umb://media/59c8be6332bb4defb82ff13f663d8154,umb://media/aa47ddce33dd422dbc19a5943188b583]]></discover>
    <bLog id="1120" key="8dea2460-2bcc-4b95-a652-5854aa0871f2" parentID="1076" level="2" creatorID="0" sortOrder="0" createDate="2018-04-12T09:29:18" updateDate="2018-04-12T09:29:18" nodeName="BLOG" urlName="blog" path="-1,1076,1120" isDoc="" nodeType="1074" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1067" nodeTypeAlias="bLog" isPublished="true">
      <blogItem id="1121" key="7cd55f69-0fd0-4b90-990a-ce6421c97382" parentID="1120" level="3" creatorID="0" sortOrder="0" createDate="2018-04-12T09:31:26" updateDate="2018-04-14T14:09:11" nodeName="HOW TO ENSURE YOUR INTERIOR PROJECT IS A SUCCESS" urlName="how-to-ensure-your-interior-project-is-a-success" path="-1,1076,1120,1121" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1119" nodeTypeAlias="blogItem" isPublished="true">
        <description><![CDATA[<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>We can all agree that any home improvement project is:</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2">
<div class="x-text">
<ul>
<li><span>Hard work</span></li>
<li><span>Inconvenience for your family &amp; work life</span></li>
<li><span>Time-consuming</span></li>
</ul>
</div>
</div>
<div class="x-column x-sm x-1-2">
<div class="x-text">
<ul>
<li><span>Stress and frustration</span></li>
<li><span>Uncertainty about the final result</span></li>
<li><span>Overhead expenses</span></li>
</ul>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p> </p>
<p><span>Especially, if you are doing everything yourself!</span></p>
<p> </p>
<p><span>Frankly, going it alone is kind of risky…</span></p>
<p><span>Imagine having a clear plan in your head and being supported by likeminded people. Feeling the whole process depends on good teamwork, where every single team member has their role to play.</span></p>
<p><span>That support system can be the difference between success and failure.</span></p>
<p><span>As can having a proven path to follow, that eliminates the guesswork about what you should (and should NOT) be focusing on as you go through the journey of planning, creating and implementing.</span></p>
<p><span>If you have ever planned a holiday trip, a big party for your friends and family (like a wedding for example) or your kids activities, you probably have enough experience and skills to accomplish one more exciting task.</span></p>
<p><span>But before embarking on any journey, always check that you are well equipped.</span></p>
<h4><span>ASK YOURSELF:</span></h4>
<ul>
<li><span>What is your goal?</span></li>
<li><span>What is your plan?</span></li>
<li><span>Who is your team?</span></li>
<li><span>What are your tools?</span></li>
</ul>
<p> </p>
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" alt="" /></div>
<div class="x-column x-sm x-1-2"> </div>
</div>]]></description>
        <subjectMatter><![CDATA[HOW TO ENSURE YOUR INTERIOR PROJECT IS A SUCCESS]]></subjectMatter>
        <thumbnail><![CDATA[umb://media/ab6a53dbbc714da1bb10b59c96d19f91]]></thumbnail>
        <blogHot>1</blogHot>
      </blogItem>
      <blogItem id="1122" key="16409304-230a-4fd7-a501-d61c60bf58ae" parentID="1120" level="3" creatorID="0" sortOrder="1" createDate="2018-04-12T11:29:59" updateDate="2018-04-17T09:45:47" nodeName="WANT TO DESIGN YOUR HOME YOURSELF? BUT STRUGGLING TO MATCH THE PIECES?" urlName="want-to-design-your-home-yourself-but-struggling-to-match-the-pieces" path="-1,1076,1120,1122" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1119" nodeTypeAlias="blogItem" isPublished="true">
        <description><![CDATA[<p><span>I know that feeling when you closed the deal and realize you are a homeowner. It’s thrilling! You now have a space which will finally look like you, smell like you and feel like you.</span></p>
<p><span>You have waited for this moment long enough and now you’ve managed to collect almost all the components of your future interior. A warm family table, a cosy sofa, a terrific chandelier, a stone effect tile and so on. You like all the pieces, but wonder how they will work together?</span></p>
<p><span>I remember being in exactly the same situation. I had no software ( I couldn’t use it anyway <img class="emoji" src="https://s.w.org/images/core/emoji/2.4/svg/1f642.svg?width=20&amp;height=20" alt="🙂" width="20" height="20" /> ).  I desperately wanted to imagine how some of the pieces matched in one room.</span></p>
<p><span>So, I thought perhaps if I place all the images on one slide I will see if they are right together. And it worked!</span></p>
<div id="wistia_31.thumb_container" class="wistia_click_to_play"><a href="https://krikla.com/blog/want-to-design-your-home-yourself-but-struggling-to-match-the-pieces/">Click here to watching our Matching guide tutorial.</a></div>]]></description>
        <subjectMatter><![CDATA[I know that feeling when you closed the deal and realize you are a homeowner. It’s thrilling! You now have a space which will finally look like you]]></subjectMatter>
        <thumbnail><![CDATA[umb://media/4e80b50692be4d789c6d703aa8e15e12]]></thumbnail>
        <blogHot>1</blogHot>
      </blogItem>
      <blogItem id="1123" key="7e07204e-55e0-4a51-afed-18a99ac530be" parentID="1120" level="3" creatorID="0" sortOrder="2" createDate="2018-04-12T11:30:50" updateDate="2018-04-17T09:45:57" nodeName="INSPIRATION FROM TRAVEL. SAN SEBASTIAN, SPAIN" urlName="inspiration-from-travel-san-sebastian-spain" path="-1,1076,1120,1123" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1119" nodeTypeAlias="blogItem" isPublished="true">
        <thumbnail><![CDATA[umb://media/daa372d8da3243daab9fbbe96fbc07ef]]></thumbnail>
        <blogHot>1</blogHot>
      </blogItem>
      <blogItem id="1124" key="6512babe-c4b6-456d-a6c7-f4ffd315dba6" parentID="1120" level="3" creatorID="0" sortOrder="3" createDate="2018-04-12T11:31:54" updateDate="2018-04-17T10:34:54" nodeName="WHY KIDS ROOMS ARE NOT EASY TO DECORATE" urlName="why-kids-rooms-are-not-easy-to-decorate" path="-1,1076,1120,1124" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1119" nodeTypeAlias="blogItem" isPublished="true">
        <description><![CDATA[<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>I bet you have kids and are planning to refurbish your home? Not difficult to guess because you are looking for advice on this page.</span></p>
<p><span>Maybe you are inspired by cute images of nurseries and teenage rooms from Interior Design magazines and Pinterest. Before you make your decision I’d like you to think of a few things and then make your final decision.</span></p>
<p><span>Whatever age are your kids, these little people grow so fast. If your refurbishment project is expected to last from 9 months, you need to think how different your child will be by the time the project has finished and consequently how long the chosen room theme will last.</span></p>
<p><span>Being a mum of three kids I must say they start to develop their strong personalities at the age of 8. And it is hard to make them wear what you like and decorate the walls with something you picked, based on your tastes.  No way!!!!</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<blockquote class="x-blockquote right-text">…think more about functionality, rather than decoration.Dasha</blockquote>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>It doesn’t mean you can not design a room for them, but think more about functionality, rather than decoration. And try to keep it as simple as possible and as neutral as possible, avoiding strong colours, patterns, themes etc.</span></p>
<p><span>The reason I am suggesting that is I know it wouldn’t be possible to catch the ever-changing trends from year to year they are following and eventually outgrowing. Like beliefs, celebrities, quotes, interests and so on.</span></p>
<p><span>Try to focus on the storage, plan enough space for sports equipment, school files, clothes, arts and craft. If space allows try making a decent sized desk. Remember the desk space is not used only for homework, it is also a great display surface for the personal treasure collections.  A display shelf is a must to have in a kids room, everything displayed are either memories, or achievements, or things representing their personality. So don’t try to hide them away. Display them!</span></p>
<p><span>I would suggest investing in storage for the biggest part of your kid’s room budget and spend less on furniture and fabrics. I hope your children are tidy and careful, but that is not true for many parents, including myself. Be prepared to change the kid’s room furniture at some point or to refresh it by repainting and reupholstering.</span></p>
<p><span>And always remember kid’s rooms are their source of inspiration, motivation, optimism and willingness to conquer the world.  Would you like them to feel that way?</span></p>
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" alt="" /></div>
<div class="x-column x-sm x-1-2"> </div>
</div>]]></description>
        <subjectMatter><![CDATA[I bet you have kids and are planning to refurbish your home? Not difficult to guess because you are looking for advice on this page.]]></subjectMatter>
        <thumbnail><![CDATA[umb://media/d971dbee123f42138bcbbc91d744b07e]]></thumbnail>
        <blogHot>0</blogHot>
      </blogItem>
      <blogItem id="1125" key="bc12474a-e25f-4c18-8b9e-d1ae9f101fa8" parentID="1120" level="3" creatorID="0" sortOrder="4" createDate="2018-04-12T11:33:35" updateDate="2018-04-12T16:07:04" nodeName="GET CLARITY ON WHAT YOUR IDEAL HOME SHOULD LOOK LIKE" urlName="get-clarity-on-what-your-ideal-home-should-look-like" path="-1,1076,1120,1125" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1119" nodeTypeAlias="blogItem" isPublished="true">
        <description><![CDATA[<div class="entry-content content">
<div id="cs-content" class="cs-content">
<div id="x-section-1" class="x-section">
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>Let me guess…you’ve been thinking about your future interior look a lot already? But feel the more you think the more you hesitate. There are so many good and beautiful options, and you cannot decide which one to choose. Or even worse you have no idea how to combine many different features and furniture in one room.</span></p>
<p><span>Don’t panic. I would like you to use a very simple but very effective tool, to put your thoughts in order.</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>First, you’ll need a piece of paper and write down <strong>“My Ideal Home”</strong> at the top of the page.</span></p>
<p><span>Then draw a vertical line dividing your page in half. </span></p>
<p><span>Now name your 1<sup>st</sup> column <strong>“What DON’T I  want”</strong> and 2<sup>nd</sup> column <strong>“What DO I want”</strong>.</span></p>
<p><span>I always recommend listing what you <u>don’t</u> want first as it is something we usually know more easily.</span></p>
<p> </p>
<p><span>Here’s an example:</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<h2 class="h-custom-headline cs-ta-center h4 accent"><span>MY IDEAL HOME</span></h2>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/GET-CLEAR-ON-WHAT-YOUR-IDEAL-HOME-SHOULD-LOOK-LIKE-01.png" alt="" /></div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>As soon as your list is ready it will be much easier to focus on specific needs and work out the perfect result quickly.</span></p>
<p> </p>
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" alt="" /></div>
<div class="x-column x-sm x-1-2"> </div>
</div>
</div>
</div>
</div>]]></description>
        <subjectMatter><![CDATA[Let me guess…you’ve been thinking about your future interior look a lot already? But feel the more you think the more you hesitate. There are so]]></subjectMatter>
        <thumbnail><![CDATA[umb://media/2c290f181f1e41ff979371c3cd48ae79]]></thumbnail>
      </blogItem>
      <blogItem id="1126" key="4e046a5e-0b7c-4239-8115-5679800f2899" parentID="1120" level="3" creatorID="0" sortOrder="5" createDate="2018-04-12T11:34:51" updateDate="2018-04-12T16:07:21" nodeName="GET PIECE OF MIND BEFORE STARTING YOUR HOME REFURBISHMENT PROJECT" urlName="get-piece-of-mind-before-starting-your-home-refurbishment-project" path="-1,1076,1120,1126" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1119" nodeTypeAlias="blogItem" isPublished="true">
        <description><![CDATA[<div class="entry-content content">
<div id="cs-content" class="cs-content">
<div id="x-section-1" class="x-section">
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>Feeling overwhelmed with the approaching refurbishment project of your home?</span></p>
<p><strong><em>Do you lack the right information?</em></strong></p>
<p><strong><em>Are you unprepared to start?</em></strong></p>
<p><strong><em>Don’t know how long projects like this take?</em></strong></p>
<p> </p>
<p><span>I can totally understand how you may feel this way. I was in that exact same predicament when I started my first home refurbishment project. I had no one to advise me at that time, so I hired an Interior Designer and had to say goodbye to him soon after. Simply because my head was in a mess.</span></p>
<p><span>So, follow these three steps before you start.  It  will help to clear your mind and to get the confidence you need to set the goals.</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<h6 class="h-custom-headline h4 accent"><span>1. GIVE YOURSELF SOME COOLING OFF TIME.</span></h6>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>Time of quiet thinking is always very fruitful before any task. Your home design is an accumulative process of visual impressions. You would need time to educate yourself through images to understand what your home should look like. Take into consideration that the more you see the more your taste develops. So, be prepared to reserve a considerable cooling off time.</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<h6 class="h-custom-headline h4 accent"><span>2. HOW MUCH TIME MY PROJECT WILL ACTUALLY CONSUME?</span></h6>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>You need to understand how much of your own time you are willing to invest in the project. You also need to be clear on the overall time limit you allow for the project to be done.  And why you are setting these specific deadlines. Please be sure to specify the reasons.</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<h6 class="h-custom-headline h4 accent"><span>3. WHAT OUTCOME DO I HOPE TO OBTAIN?</span></h6>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>It doesn’t matter what the outcome is, but rather why you are doing this. Try to describe in as much detail as possible the envisaged final result of a project. What is important and what is not significant and why.</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1"><hr class="x-gap" /></div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature.png" alt="" /></div>
<div class="x-column x-sm x-1-2"> </div>
</div>
</div>
</div>
</div>]]></description>
        <subjectMatter><![CDATA[Feeling overwhelmed with the approaching refurbishment project of your home?]]></subjectMatter>
        <thumbnail><![CDATA[umb://media/864f11a3283245058cd362a9c691f6a2]]></thumbnail>
      </blogItem>
      <blogItem id="1127" key="b47c39cf-64e6-4d3d-b73b-e5b2dd45b707" parentID="1120" level="3" creatorID="0" sortOrder="6" createDate="2018-04-12T11:36:35" updateDate="2018-04-12T16:07:32" nodeName="DETERMINING GOALS BEFORE BEGINNING YOUR HOME REFURBISHMENT" urlName="determining-goals-before-beginning-your-home-refurbishment" path="-1,1076,1120,1127" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1119" nodeTypeAlias="blogItem" isPublished="true">
        <description><![CDATA[<div class="entry-content content">
<div id="cs-content" class="cs-content">
<div id="x-section-1" class="x-section">
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>Feeling exited to start the refurbishment of your home? And at a loss the same time? Hearing other people’s home refurbishment horror stories doesn’t lift your confidence either!</span></p>
<p><span>Make your own success story without those people getting in your head.</span></p>
<p><span>I would like to comfort you a bit, by saying it is not that frightening, it is just another task in your life no different from the others.  There is a number of tried and tested steps and by following them, I can guarantee, you will have the most enjoyable experience.</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>Here is some advice on how to begin:</span></p>
<p>1. Firstly, understand who you are.</p>
<p>2. Then, determine what is your main goal.</p>
<p><span>Let me explain.</span></p>
<p><span>It is very important that right at the beginning you know what kind of help you are looking for. This will depend on your personality, availability and willingness.</span></p>
<p><span>So, think about who you are:</span></p>
<p><span>Would you rather prefer an unplanned or planned process? While the first will give you freedom to think without rushing, the other will bring you savings without worrying. Which one best suits you?</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1"><hr class="x-gap" /></div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<ul>
<li>Your main priority is to stay within your budget or go creative.</li>
<li>You will need occasional help.</li>
<li>You will need to be fully guided.</li>
<li>You will need someone to advise you on your choices.</li>
<li>Hesitation is one of your main problems, when it comes to making</li>
<li>I would be happy knowing someone is fully managing the process.</li>
<li>Are you certain you know exactly what your interior should look like?</li>
<li>Have you researched the furniture and finishes already and picked some of them? But you don’t know how to combine everything together.</li>
<li>You have no idea where to shop.</li>
<li>You like the pieces, but they are too expensive for you budget. So you need to find the affordable substitutions.</li>
</ul>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>Think about what is your goal:</span></p>
<ul>
<li>It is a once in a lifetime opportunity to create your dream home, so you need to think carefully before making any decisions.</li>
<li>You need to move as quickly as possible, therefore timing is critical.</li>
<li>You would like to have a functional home, easy to maintain.</li>
<li>You would like to have a bold or casual home</li>
<li>It is your second home for occasional stay.</li>
</ul>
<p> </p>
<p><span>Knowing who you are and what you need, will allow you to find the right help for your project. Try to match the professional you hire to your needs and personality.</span></p>
<p> </p>
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" alt="" /></div>
</div>
</div>
</div>
</div>]]></description>
        <subjectMatter><![CDATA[Feeling exited to start the refurbishment of your home? And at a loss the same time? Hearing other people’s home refurbishment horror stories doesn’t lift your confidence either!]]></subjectMatter>
        <thumbnail><![CDATA[umb://media/2173a7df3ee743a484c9631b5181a640]]></thumbnail>
      </blogItem>
      <blogItem id="1130" key="bc4065bc-f43c-4021-a7ee-92b390fbf79d" parentID="1120" level="3" creatorID="0" sortOrder="7" createDate="2018-04-12T11:45:32" updateDate="2018-04-12T16:07:41" nodeName="FOUR MISTAKES BUSY FAMILIES MAKE WHEN PREPARING FOR THEIR HOME IMPROVEMENT" urlName="four-mistakes-busy-families-make-when-preparing-for-their-home-improvement" path="-1,1076,1120,1130" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1119" nodeTypeAlias="blogItem" isPublished="true">
        <description><![CDATA[<div class="entry-wrap">
<div class="entry-content content">
<p> </p>
<p><span>We all know how busy life can be and it is not easy to juggle our work life and home life at the same time. Work during the week and then when we should be relaxing on the weekend, we are running around between activities with the kids. So where do you find the time for your home improvement?</span></p>
<p><span>I have been through the home improvement process enough times to have finally learnt the most effective approach. Not only will it save you money and time, but it will reduce the stress that goes with a project like this. </span></p>
<p><span>Here are the common mistakes people make when preparing for their home improvements:</span></p>
<ol>
<li>
<h4>OVERCONFIDENT.<span> </span><em>“I CAN MANAGE THE PROCESS MYSELF”</em></h4>
</li>
</ol>
<p><span>Of course, you can but most time people bite off more than you can chew. You will handle it, but the price you will pay is stress, stress, and more stress.</span></p>
<p> </p>
<ol start="2">
<li>
<h4>DIDN’T DO YOUR HOMEWORK.<span> </span><em>“MAKING DECISIONS AS I GO”</em></h4>
</li>
</ol>
<p><span>The decision-making process is not that easy when it comes to finishing or decorating your home. There will be doubt due to the immense range on the market, lack of the vision and experience.  Before starting your project:</span></p>
<ul>
<li><span>Identify your style preference.</span></li>
<li><span>Choose a 3 colour palette you want to utilise in your space.</span></li>
<li><span>Decide what materials or textures you like the most.</span></li>
<li><span>Find as many images from Pinterest as you can which best represent your tastes and likes.</span></li>
</ul>
<p><span><strong><a rel="noopener" href="https://dasha50.typeform.com/to/ctZl39" target="_blank"><em>Click here to complete my questionnaire, to better understand your preferences.</em></a></strong></span></p>
<p> </p>
<ol start="3">
<li>
<h4>NEGOTIATION WITHOUT PROPER SCOPE OF WORK</h4>
</li>
</ol>
<p><span>To achieve an accurate quote from your building team, you will need these 2 documents:</span></p>
<ul>
<li><span>Furniture, Electricity and Light Layout</span></li>
<li><span>Detailed Rooms Description.</span></li>
</ul>
<p><span>You can either prepare both documents by yourself (there are lots of useful Interior Design software, like ROOM PLANNER for example) or hire an Interior Designer.</span></p>
<p><span>To prepare “The Detailed Room Description”  – a table where you can list all the finishes and features for each room, I have compiled an easy to use template, which you can<em><strong> <a rel="noopener" href="https://krikla.com/wp-content/uploads/2018/03/KRIKLA-Room-description-template.pdf" target="_blank">download here.</a></strong></em></span><span> </span></p>
<p><span>Having both of these documents in hands is the safest way to get a realistic price of the construction work.</span></p>
<p> </p>
<ol start="4">
<li>
<h4>POOR PLANNING OF MATERIAL SUPPLY</h4>
</li>
</ol>
<p><span>Extra costs and delays in construction due to materials that are not available, can be avoided because you planned ahead.</span></p>
<p><span>It might seem like a lot of fuss, but as soon as you have everything prepared in advance, you can sit back knowing your project can go ahead as hassle-free as possible.</span></p>
<p><span>Imagine how much pressure you are going to have if you know you have to pay your builders for drinking tea on your site while you wait for your deliveries?</span></p>
<p> </p>
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
<p><a href="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" class="boxersandswipers cboxElement"><img class="alignnone size-full wp-image-5647" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" alt="" width="300" height="60" /></a></p>
</div>
</div>
<div id="comments" class="x-comments-area">
<div id="respond" class="comment-respond"></div>
</div>]]></description>
        <subjectMatter><![CDATA[We all know how busy life can be and it is not easy to juggle our work life and home life at the same time. Work during the week ]]></subjectMatter>
        <thumbnail><![CDATA[umb://media/d247a604fcb546c69fb3900e9f775794]]></thumbnail>
      </blogItem>
    </bLog>
    <aBOUTUS id="1077" key="dda3493d-9c42-4695-8136-3580ec6632d9" parentID="1076" level="2" creatorID="0" sortOrder="1" createDate="2018-03-14T17:21:54" updateDate="2018-04-16T16:04:22" nodeName="ABOUTUS" urlName="aboutus" path="-1,1076,1077" isDoc="" nodeType="1070" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1063" nodeTypeAlias="aBOUTUS" isPublished="true">
      <aboutUsItem><![CDATA[<div id="x-content-band-2" class="x-content-band vc man">
<div class="x-container max width wpb_row">
<div class="x-column x-sm vc x-2-3">
<h4><strong><img style="width: 0px; height:0px;" src="/nothing.jpg" alt="" data-udi="umb://media/2adc3db2887543fb90fee85e133d3bc9" />WHAT WE BELIEVE IN.</strong></h4>
<p><span>We have noticed a huge shift in th</span></p>
<h4><strong><img style="width: 145px; height: 218px;" src="/media/1015/img_1068-1.jpg?width=145&amp;height=218" alt="" data-udi="umb://media/2adc3db2887543fb90fee85e133d3bc9" /></strong></h4>
<p><span>e design industry recently, one where design has become very popular.</span></p>
<p><span>Talented designers ( we weren’t an exception some time ago <img class="emoji" src="https://s.w.org/images/core/emoji/2.4/svg/1f642.svg?width=23&amp;height=23" alt="🙂" width="23" height="23" /> ) have the same mindset as artists. They create beautiful pieces of art (called your interior) and feel very let down when someone less knowledgeable comes along and tries to correct it but ruins the whole concept.</span></p>
<p><span>This actually feels like a national disaster to them!</span></p>
<p><span>To be an artist is great because you can sell your pieces of artwork for the going rate of a new car! But when it comes to creating a custom space for a busy family, where the house is organised, comfortable and beautiful, there is a conflict to justify the price. It’s all about understanding the value differently (the artwork for some and simple beauty with comfort for others)</span></p>
<p><span>Coming back to the topic of design popularity, we were trying to shift our mindset of how Interior Designers work with their clients today. They should not be seen as just being an artist but more of a consultant that can offer advice and then allow their client to make their own choices.</span></p>
<p><span>You can call them a co-author, the person helping their client verbalise and visualise their ideal interior space. They match together chosen or existing pieces while balancing creativity and professionalism. Using other people’s “ingredients” in what we call the “sauce cooker”. It’s like creating a recipe with whatever ingredients you are given and then learning to make a magical dish that is both TASTEFUL and FLAVOURSOME.</span></p>
</div>
</div>
</div>
<div id="x-content-band-3" class="x-content-band vc man">
<div class="x-container max width wpb_row">
<div class="x-column x-sm vc x-1-1">
<h4><strong>HOW IT ALL STARTED. </strong></h4>
<p><span>While working as independent interior designers, a friend of ours needed our help. She had bought a small but lovely flat in Marylebone, hired a building team and everything seemed to be very promising in the beginning.</span></p>
<p><span>There was the excitement related to the new acquisition, a new hope for her future quality of life. Wind of creativity, when sourcing for inspirations. We’ve all been there?</span></p>
<p><span>But suddenly what should have been a pleasurable experience turned out being a torturous one and depression soon replaced her excitement.  Why?</span></p>
<p><span>Her choices were endless<em>…” What to pick? And will they go together? Where do I source them? And most importantly where do I find the time to do all of this?”</em></span></p>
<p><span>She was concerned about so many things… <em>“How am I supposed to enjoy my home improvement at all when I can’t relax? I have so many unresolved decisions to make that are just backlogging in an endless queue!   I must give notice to my landlord and I am supposed to be moving in, in 3 weeks. But I can’t actually stay on because the mortgage and the rent together do not fit my pocket anymore”</em></span></p>
<p><span>We faced a very big challenge. Her budget = £600 –“<em>that is all I can pay you ladies. Please help me”.</em></span></p>
<p><span>What could we do with £600? This seemed ridiculous. (We priced as everyone else did at that time hourly or by square meter).</span></p>
<p><span>But then our mindset changed… Perhaps we should try? We simply need to create a solution for £600.</span></p>
<p><span>And we did.</span></p>
<p><span>Now we can confidently say no matter what the challenge is, there is always a solution.</span></p>
<p> </p>
<p><span>Yours truly,</span></p>
<p> </p>
<p><img class="alignnone wp-image-5757" src="https://krikla.com/wp-content/uploads/2018/04/Dasha-Olga-Signature-300x97.png" alt="" width="232" height="75" /></p>
</div>
</div>
</div>]]></aboutUsItem>
    </aBOUTUS>
    <pROCESS id="1078" key="cbeabb41-a0df-4d2b-a858-3ed08fc15828" parentID="1076" level="2" creatorID="0" sortOrder="2" createDate="2018-03-14T17:22:36" updateDate="2018-04-13T14:25:08" nodeName="PROCESS" urlName="process" path="-1,1076,1078" isDoc="" nodeType="1071" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1064" nodeTypeAlias="pROCESS" isPublished="true" />
    <pACKAGES id="1079" key="4da73410-213d-44c0-aa45-81fb8de859a7" parentID="1076" level="2" creatorID="0" sortOrder="3" createDate="2018-03-14T17:23:03" updateDate="2018-04-13T14:25:32" nodeName="PACKAGES" urlName="packages" path="-1,1076,1079" isDoc="" nodeType="1072" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1065" nodeTypeAlias="pACKAGES" isPublished="true" />
    <portfolio id="1080" key="73d90f55-d667-4d1b-ae01-8e92bd597048" parentID="1076" level="2" creatorID="0" sortOrder="4" createDate="2018-03-14T17:23:32" updateDate="2018-04-13T14:28:58" nodeName="PORTFOLIO" urlName="portfolio" path="-1,1076,1080" isDoc="" nodeType="1073" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1066" nodeTypeAlias="portfolio" isPublished="true" />
    <cONTACTS id="1082" key="ea6df139-8b7e-44e7-bca3-64435521dbfd" parentID="1076" level="2" creatorID="0" sortOrder="5" createDate="2018-03-14T17:24:47" updateDate="2018-04-13T14:26:29" nodeName="CONTACTS" urlName="contacts" path="-1,1076,1082" isDoc="" nodeType="1075" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1068" nodeTypeAlias="cONTACTS" isPublished="true" />
    <improvePacketForm id="1172" key="7eb13fbc-ebd2-4ee3-82df-68f1aa25ca59" parentID="1076" level="2" creatorID="0" sortOrder="6" createDate="2018-04-16T17:00:06" updateDate="2018-04-17T18:08:25" nodeName="improve" urlName="improve" path="-1,1076,1172" isDoc="" nodeType="1171" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1168" nodeTypeAlias="improvePacketForm" isPublished="true">
      <hideInNavigation>1</hideInNavigation>
    </improvePacketForm>
  </hOME>
  <portfolio_item id="1089" key="1566d6ea-04bf-4ab3-93bf-1c8c13aba6d6" parentID="-1" level="1" creatorID="0" sortOrder="8" createDate="2018-04-05T15:11:19" updateDate="2018-04-05T15:11:19" nodeName="Portfolio_item" urlName="portfolio_item" path="-1,1089" isDoc="" nodeType="1088" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1087" nodeTypeAlias="portfolio_item" isPublished="true" />
</root>