<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT blogItem ANY>
<!ATTLIST blogItem id ID #REQUIRED>
<!ELEMENT portfolio_item ANY>
<!ATTLIST portfolio_item id ID #REQUIRED>
<!ELEMENT search ANY>
<!ATTLIST search id ID #REQUIRED>
<!ELEMENT cONTACTS ANY>
<!ATTLIST cONTACTS id ID #REQUIRED>
<!ELEMENT bLog ANY>
<!ATTLIST bLog id ID #REQUIRED>
<!ELEMENT portfolio ANY>
<!ATTLIST portfolio id ID #REQUIRED>
<!ELEMENT pACKAGES ANY>
<!ATTLIST pACKAGES id ID #REQUIRED>
<!ELEMENT pROCESS ANY>
<!ATTLIST pROCESS id ID #REQUIRED>
<!ELEMENT aBOUTUS ANY>
<!ATTLIST aBOUTUS id ID #REQUIRED>
<!ELEMENT hOME ANY>
<!ATTLIST hOME id ID #REQUIRED>
]>
<root id="-1">
  <hOME id="1076" key="e78109c6-f576-4159-8533-1cd68ac043ba" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-03-14T17:20:26" updateDate="2018-03-14T17:20:26" nodeName="HOME" urlName="home" path="-1,1076" isDoc="" nodeType="1069" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1062" nodeTypeAlias="hOME" isPublished="true" />
  <aBOUTUS id="1077" key="dda3493d-9c42-4695-8136-3580ec6632d9" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-03-14T17:21:54" updateDate="2018-03-14T17:21:54" nodeName="ABOUTUS" urlName="aboutus" path="-1,1077" isDoc="" nodeType="1070" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1063" nodeTypeAlias="aBOUTUS" isPublished="true" />
  <pROCESS id="1078" key="cbeabb41-a0df-4d2b-a858-3ed08fc15828" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2018-03-14T17:22:36" updateDate="2018-03-14T17:22:36" nodeName="PROCESS" urlName="process" path="-1,1078" isDoc="" nodeType="1071" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1064" nodeTypeAlias="pROCESS" isPublished="true" />
  <pACKAGES id="1079" key="4da73410-213d-44c0-aa45-81fb8de859a7" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2018-03-14T17:23:03" updateDate="2018-03-14T17:23:03" nodeName="PACKAGES" urlName="packages" path="-1,1079" isDoc="" nodeType="1072" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1065" nodeTypeAlias="pACKAGES" isPublished="true" />
  <portfolio id="1080" key="73d90f55-d667-4d1b-ae01-8e92bd597048" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2018-03-14T17:23:32" updateDate="2018-03-14T17:23:32" nodeName="Portfolio" urlName="portfolio" path="-1,1080" isDoc="" nodeType="1073" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1066" nodeTypeAlias="portfolio" isPublished="true" />
  <bLog id="1081" key="ba3bf738-931a-4e49-ae89-35903fc016e5" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2018-03-14T17:24:11" updateDate="2018-03-14T17:24:11" nodeName="BLOG" urlName="blog" path="-1,1081" isDoc="" nodeType="1074" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1067" nodeTypeAlias="bLog" isPublished="true">
    <blogItem id="1097" key="d36337b1-0f70-4a5e-a2c0-61784bffef8c" parentID="1081" level="2" creatorID="0" sortOrder="0" createDate="2018-04-11T15:40:28" updateDate="2018-04-11T16:01:16" nodeName="HOW TO ENSURE YOUR INTERIOR PROJECT IS A SUCCESS" urlName="how-to-ensure-your-interior-project-is-a-success" path="-1,1081,1097" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="0" nodeTypeAlias="blogItem" isPublished="false">
      <description><![CDATA[<h1 class="entry-title">HOW TO ENSURE YOUR INTERIOR</h1>
<h1 class="entry-title">PROJECT IS A SUCCESS</h1>
<div class="entry-content content">
<div id="cs-content" class="cs-content">
<div id="x-section-1" class="x-section">
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>We can all agree that any home improvement project is:</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2">
<div class="x-text">
<ul>
<li><span>Hard work</span></li>
<li><span>Inconvenience for your family &amp; work life</span></li>
<li><span>Time-consuming</span></li>
</ul>
</div>
</div>
<div class="x-column x-sm x-1-2">
<div class="x-text">
<ul>
<li><span>Stress and frustration</span></li>
<li><span>Uncertainty about the final result</span></li>
<li><span>Overhead expenses</span></li>
</ul>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p> </p>
<p><span>Especially, if you are doing everything yourself!</span></p>
<p> </p>
<p><span>Frankly, going it alone is kind of risky…</span></p>
<p><span>Imagine having a clear plan in your head and being supported by likeminded people. Feeling the whole process depends on good teamwork, where every single team member has their role to play.</span></p>
<p><span>That support system can be the difference between success and failure.</span></p>
<p><span>As can having a proven path to follow, that eliminates the guesswork about what you should (and should NOT) be focusing on as you go through the journey of planning, creating and implementing.</span></p>
<p><span>If you have ever planned a holiday trip, a big party for your friends and family (like a wedding for example) or your kids activities, you probably have enough experience and skills to accomplish one more exciting task.</span></p>
<p><span>But before embarking on any journey, always check that you are well equipped.</span></p>
<h4><span>ASK YOURSELF:</span></h4>
<ul>
<li><span>What is your goal?</span></li>
<li><span>What is your plan?</span></li>
<li><span>Who is your team?</span></li>
<li><span>What are your tools?</span></li>
</ul>
<p> </p>
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" alt="" /></div>
<div class="x-column x-sm x-1-2"> </div>
</div>
</div>
</div>
</div>]]></description>
      <subjectMatter><![CDATA[We can all agree that any home improvement project is:   Especially, if you are doing everything yourself!   Frankly, going it alone is kind of risky… Imagine having a …]]></subjectMatter>
      <thumbnail><![CDATA[umb://media/ab6a53dbbc714da1bb10b59c96d19f91]]></thumbnail>
    </blogItem>
    <blogItem id="1098" key="d8dfa935-d238-4ac2-a98d-e2b9b9d03812" parentID="1081" level="2" creatorID="0" sortOrder="1" createDate="2018-04-11T16:10:19" updateDate="2018-04-11T16:10:19" nodeName="WANT TO DESIGN YOUR HOME YOURSELF? BUT STRUGGLING TO MATCH THE PIECES?" urlName="want-to-design-your-home-yourself-but-struggling-to-match-the-pieces" path="-1,1081,1098" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1091" nodeTypeAlias="blogItem" isPublished="true">
      <description><![CDATA[<h1 class="entry-title">WANT TO DESIGN YOUR HOME YOURSELF? BUT STRUGGLING TO MATCH THE PIECES?</h1>
<div class="entry-content content">
<p><span>I know that feeling when you closed the deal and realize you are a homeowner. It’s thrilling! You now have a space which will finally look like you, smell like you and feel like you.</span></p>
<p><span>You have waited for this moment long enough and now you’ve managed to collect almost all the components of your future interior. A warm family table, a cosy sofa, a terrific chandelier, a stone effect tile and so on. You like all the pieces, but wonder how they will work together?</span></p>
<p><span>I remember being in exactly the same situation. I had no software ( I couldn’t use it anyway <img class="emoji" src="https://s.w.org/images/core/emoji/2.4/svg/1f642.svg?width=23&amp;height=23" alt="🙂" width="23" height="23" /> ).  I desperately wanted to imagine how some of the pieces matched in one room.</span></p>
<p><span>So, I thought perhaps if I place all the images on one slide I will see if they are right together. And it worked!</span></p>
<div id="wistia_31.thumb_container" class="wistia_click_to_play"><a href="https://krikla.com/blog/want-to-design-your-home-yourself-but-struggling-to-match-the-pieces/">Click here to watching our Matching guide tutorial.</a></div>
<p> </p>
</div>]]></description>
      <subjectMatter><![CDATA[I know that feeling when you closed the deal and realize you are a homeowner. It’s thrilling! You now have a space which will finally look like you, smell like you …]]></subjectMatter>
      <thumbnail><![CDATA[umb://media/4e80b50692be4d789c6d703aa8e15e12]]></thumbnail>
    </blogItem>
    <blogItem id="1099" key="6c9d3ca1-17b5-4940-bd4d-be269d3f2a45" parentID="1081" level="2" creatorID="0" sortOrder="2" createDate="2018-04-11T16:13:22" updateDate="2018-04-11T16:16:30" nodeName="INSPIRATION FROM TRAVEL. SAN SEBASTIAN, SPAIN" urlName="inspiration-from-travel-san-sebastian-spain" path="-1,1081,1099" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1091" nodeTypeAlias="blogItem" isPublished="true">
      <description><![CDATA[<p><img style="width: 500px; height:375px;" src="/media/1005/img_5502-1024x768.jpg?width=500&amp;height=375" alt="" data-udi="umb://media/acbabe59b2584b219c7c3d314fd48f6b" /></p>
<p><img style="width: 500px; height:346.7650397275823px;" src="/media/1006/img_5550-881x611.jpg?width=500&amp;height=346.7650397275823" alt="" data-udi="umb://media/7f8df2490a2b49eeb2eff3ffedc3de79" /></p>
<p><img style="width: 500px; height:375px;" src="/media/1008/img_5603-1024x768.jpg?width=500&amp;height=375" alt="" data-udi="umb://media/b31ffa111f9a41aeaed0000f998522b1" /></p>
<p><img style="width: 500px; height:320.09080590238364px;" src="/media/1009/img_9885-881x564.jpg?width=500&amp;height=320.09080590238364" alt="" data-udi="umb://media/98d0f5ae564f457db541cc3754a07bda" /></p>]]></description>
      <subjectMatter><![CDATA[INSPIRATION FROM TRAVEL. SAN SEBASTIAN, SPAIN]]></subjectMatter>
      <thumbnail><![CDATA[umb://media/daa372d8da3243daab9fbbe96fbc07ef]]></thumbnail>
    </blogItem>
    <blogItem id="1100" key="9082b38d-1035-4667-9552-de3421fcd2a7" parentID="1081" level="2" creatorID="0" sortOrder="3" createDate="2018-04-11T16:14:42" updateDate="2018-04-11T16:14:42" nodeName="WHY KIDS ROOMS ARE NOT EASY TO DECORATE" urlName="why-kids-rooms-are-not-easy-to-decorate" path="-1,1081,1100" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1091" nodeTypeAlias="blogItem" isPublished="true">
      <description><![CDATA[<h1 class="entry-title">WHY KIDS ROOMS ARE NOT EASY TO DECORATE</h1>
<div class="entry-content content">
<div id="cs-content" class="cs-content">
<div id="x-section-1" class="x-section">
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>I bet you have kids and are planning to refurbish your home? Not difficult to guess because you are looking for advice on this page.</span></p>
<p><span>Maybe you are inspired by cute images of nurseries and teenage rooms from Interior Design magazines and Pinterest. Before you make your decision I’d like you to think of a few things and then make your final decision.</span></p>
<p><span>Whatever age are your kids, these little people grow so fast. If your refurbishment project is expected to last from 9 months, you need to think how different your child will be by the time the project has finished and consequently how long the chosen room theme will last.</span></p>
<p><span>Being a mum of three kids I must say they start to develop their strong personalities at the age of 8. And it is hard to make them wear what you like and decorate the walls with something you picked, based on your tastes.  No way!!!!</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<blockquote class="x-blockquote right-text">…think more about functionality, rather than decoration.Dasha</blockquote>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>It doesn’t mean you can not design a room for them, but think more about functionality, rather than decoration. And try to keep it as simple as possible and as neutral as possible, avoiding strong colours, patterns, themes etc.</span></p>
<p><span>The reason I am suggesting that is I know it wouldn’t be possible to catch the ever-changing trends from year to year they are following and eventually outgrowing. Like beliefs, celebrities, quotes, interests and so on.</span></p>
<p><span>Try to focus on the storage, plan enough space for sports equipment, school files, clothes, arts and craft. If space allows try making a decent sized desk. Remember the desk space is not used only for homework, it is also a great display surface for the personal treasure collections.  A display shelf is a must to have in a kids room, everything displayed are either memories, or achievements, or things representing their personality. So don’t try to hide them away. Display them!</span></p>
<p><span>I would suggest investing in storage for the biggest part of your kid’s room budget and spend less on furniture and fabrics. I hope your children are tidy and careful, but that is not true for many parents, including myself. Be prepared to change the kid’s room furniture at some point or to refresh it by repainting and reupholstering.</span></p>
<p><span>And always remember kid’s rooms are their source of inspiration, motivation, optimism and willingness to conquer the world.  Would you like them to feel that way?</span></p>
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" alt="" /></div>
<div class="x-column x-sm x-1-2"> </div>
</div>
</div>
</div>
</div>]]></description>
      <subjectMatter><![CDATA[I bet you have kids and are planning to refurbish your home? Not difficult to guess because you are looking for advice on this page. Maybe you are inspired by …]]></subjectMatter>
      <thumbnail><![CDATA[umb://media/d971dbee123f42138bcbbc91d744b07e]]></thumbnail>
    </blogItem>
    <blogItem id="1107" key="32d91315-204d-45e4-a1fe-127543789031" parentID="1081" level="2" creatorID="0" sortOrder="4" createDate="2018-04-11T16:18:37" updateDate="2018-04-11T16:18:37" nodeName="GET CLARITY ON WHAT YOUR IDEAL HOME SHOULD LOOK LIKE" urlName="get-clarity-on-what-your-ideal-home-should-look-like" path="-1,1081,1107" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1091" nodeTypeAlias="blogItem" isPublished="true">
      <description><![CDATA[<h1 class="entry-title">GET CLARITY ON WHAT YOUR IDEAL HOME SHOULD LOOK LIKE</h1>
<div class="entry-content content">
<div id="cs-content" class="cs-content">
<div id="x-section-1" class="x-section">
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>Let me guess…you’ve been thinking about your future interior look a lot already? But feel the more you think the more you hesitate. There are so many good and beautiful options, and you cannot decide which one to choose. Or even worse you have no idea how to combine many different features and furniture in one room.</span></p>
<p><span>Don’t panic. I would like you to use a very simple but very effective tool, to put your thoughts in order.</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>First, you’ll need a piece of paper and write down <strong>“My Ideal Home”</strong> at the top of the page.</span></p>
<p><span>Then draw a vertical line dividing your page in half. </span></p>
<p><span>Now name your 1<sup>st</sup> column <strong>“What DON’T I  want”</strong> and 2<sup>nd</sup> column <strong>“What DO I want”</strong>.</span></p>
<p><span>I always recommend listing what you <u>don’t</u> want first as it is something we usually know more easily.</span></p>
<p> </p>
<p><span>Here’s an example:</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<h2 class="h-custom-headline cs-ta-center h4 accent"><span>MY IDEAL HOME</span></h2>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/GET-CLEAR-ON-WHAT-YOUR-IDEAL-HOME-SHOULD-LOOK-LIKE-01.png" alt="" /></div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>As soon as your list is ready it will be much easier to focus on specific needs and work out the perfect result quickly.</span></p>
<p> </p>
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" alt="" /></div>
<div class="x-column x-sm x-1-2"> </div>
</div>
</div>
</div>
</div>]]></description>
      <subjectMatter><![CDATA[Let me guess…you’ve been thinking about your future interior look a lot already? But feel the more you think the more you hesitate. There are so many good and beautiful …]]></subjectMatter>
      <thumbnail><![CDATA[umb://media/2c290f181f1e41ff979371c3cd48ae79]]></thumbnail>
    </blogItem>
    <blogItem id="1109" key="644714fc-17e4-46a7-a845-dee615f3ca43" parentID="1081" level="2" creatorID="0" sortOrder="5" createDate="2018-04-11T16:20:29" updateDate="2018-04-11T16:20:29" nodeName="GET PIECE OF MIND BEFORE STARTING YOUR HOME REFURBISHMENT PROJECT" urlName="get-piece-of-mind-before-starting-your-home-refurbishment-project" path="-1,1081,1109" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1091" nodeTypeAlias="blogItem" isPublished="true">
      <description><![CDATA[<h1 class="entry-title">GET PIECE OF MIND BEFORE STARTING YOUR HOME REFURBISHMENT PROJECT</h1>
<div class="entry-content content">
<div id="cs-content" class="cs-content">
<div id="x-section-1" class="x-section">
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>Feeling overwhelmed with the approaching refurbishment project of your home?</span></p>
<p><strong><em>Do you lack the right information?</em></strong></p>
<p><strong><em>Are you unprepared to start?</em></strong></p>
<p><strong><em>Don’t know how long projects like this take?</em></strong></p>
<p> </p>
<p><span>I can totally understand how you may feel this way. I was in that exact same predicament when I started my first home refurbishment project. I had no one to advise me at that time, so I hired an Interior Designer and had to say goodbye to him soon after. Simply because my head was in a mess.</span></p>
<p><span>So, follow these three steps before you start.  It  will help to clear your mind and to get the confidence you need to set the goals.</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<h6 class="h-custom-headline h4 accent"><span>1. GIVE YOURSELF SOME COOLING OFF TIME.</span></h6>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>Time of quiet thinking is always very fruitful before any task. Your home design is an accumulative process of visual impressions. You would need time to educate yourself through images to understand what your home should look like. Take into consideration that the more you see the more your taste develops. So, be prepared to reserve a considerable cooling off time.</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<h6 class="h-custom-headline h4 accent"><span>2. HOW MUCH TIME MY PROJECT WILL ACTUALLY CONSUME?</span></h6>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>You need to understand how much of your own time you are willing to invest in the project. You also need to be clear on the overall time limit you allow for the project to be done.  And why you are setting these specific deadlines. Please be sure to specify the reasons.</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<h6 class="h-custom-headline h4 accent"><span>3. WHAT OUTCOME DO I HOPE TO OBTAIN?</span></h6>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>It doesn’t matter what the outcome is, but rather why you are doing this. Try to describe in as much detail as possible the envisaged final result of a project. What is important and what is not significant and why.</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1"><hr class="x-gap" /></div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature.png" alt="" /></div>
<div class="x-column x-sm x-1-2"> </div>
</div>
</div>
</div>
</div>]]></description>
      <subjectMatter><![CDATA[Feeling overwhelmed with the approaching refurbishment project of your home? Do you lack the right information? Are you unprepared to start? Don’t know how long projects like this take?   …]]></subjectMatter>
      <thumbnail><![CDATA[umb://media/864f11a3283245058cd362a9c691f6a2]]></thumbnail>
    </blogItem>
    <blogItem id="1111" key="4bd9366b-f17b-40ad-8af8-e9d7321e288e" parentID="1081" level="2" creatorID="0" sortOrder="6" createDate="2018-04-11T16:23:12" updateDate="2018-04-11T16:23:12" nodeName="DETERMINING GOALS BEFORE BEGINNING YOUR HOME REFURBISHMENT" urlName="determining-goals-before-beginning-your-home-refurbishment" path="-1,1081,1111" isDoc="" nodeType="1090" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1091" nodeTypeAlias="blogItem" isPublished="true">
      <description><![CDATA[<h1 class="entry-title">DETERMINING GOALS BEFORE BEGINNING YOUR HOME REFURBISHMENT</h1>
<div class="entry-content content">
<div id="cs-content" class="cs-content">
<div id="x-section-1" class="x-section">
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>Feeling exited to start the refurbishment of your home? And at a loss the same time? Hearing other people’s home refurbishment horror stories doesn’t lift your confidence either!</span></p>
<p><span>Make your own success story without those people getting in your head.</span></p>
<p><span>I would like to comfort you a bit, by saying it is not that frightening, it is just another task in your life no different from the others.  There is a number of tried and tested steps and by following them, I can guarantee, you will have the most enjoyable experience.</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>Here is some advice on how to begin:</span></p>
<p>1. Firstly, understand who you are.</p>
<p>2. Then, determine what is your main goal.</p>
<p><span>Let me explain.</span></p>
<p><span>It is very important that right at the beginning you know what kind of help you are looking for. This will depend on your personality, availability and willingness.</span></p>
<p><span>So, think about who you are:</span></p>
<p><span>Would you rather prefer an unplanned or planned process? While the first will give you freedom to think without rushing, the other will bring you savings without worrying. Which one best suits you?</span></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1"><hr class="x-gap" /></div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<ul>
<li>Your main priority is to stay within your budget or go creative.</li>
<li>You will need occasional help.</li>
<li>You will need to be fully guided.</li>
<li>You will need someone to advise you on your choices.</li>
<li>Hesitation is one of your main problems, when it comes to making</li>
<li>I would be happy knowing someone is fully managing the process.</li>
<li>Are you certain you know exactly what your interior should look like?</li>
<li>Have you researched the furniture and finishes already and picked some of them? But you don’t know how to combine everything together.</li>
<li>You have no idea where to shop.</li>
<li>You like the pieces, but they are too expensive for you budget. So you need to find the affordable substitutions.</li>
</ul>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-1">
<div class="x-text">
<p><span>Think about what is your goal:</span></p>
<ul>
<li>It is a once in a lifetime opportunity to create your dream home, so you need to think carefully before making any decisions.</li>
<li>You need to move as quickly as possible, therefore timing is critical.</li>
<li>You would like to have a functional home, easy to maintain.</li>
<li>You would like to have a bold or casual home</li>
<li>It is your second home for occasional stay.</li>
</ul>
<p> </p>
<p><span>Knowing who you are and what you need, will allow you to find the right help for your project. Try to match the professional you hire to your needs and personality.</span></p>
<p> </p>
<p><strong><em>Good luck with your refurbishment project!</em></strong></p>
</div>
</div>
</div>
<div class="x-container max width">
<div class="x-column x-sm x-1-2"><img class="x-img x-img-none" src="https://krikla.com/wp-content/uploads/2018/03/Dasha-Signature-e1522243719639.png" alt="" /></div>
<div class="x-column x-sm x-1-2"> </div>
</div>
</div>
</div>
</div>]]></description>
      <subjectMatter><![CDATA[Feeling exited to start the refurbishment of your home? And at a loss the same time? Hearing other people’s home refurbishment horror stories doesn’t lift your confidence either! Make your …]]></subjectMatter>
      <thumbnail><![CDATA[umb://media/2173a7df3ee743a484c9631b5181a640]]></thumbnail>
    </blogItem>
  </bLog>
  <cONTACTS id="1082" key="ea6df139-8b7e-44e7-bca3-64435521dbfd" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2018-03-14T17:24:47" updateDate="2018-03-14T17:24:47" nodeName="CONTACTS" urlName="contacts" path="-1,1082" isDoc="" nodeType="1075" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1068" nodeTypeAlias="cONTACTS" isPublished="true" />
  <search id="1085" key="2c47f47f-14c4-4190-ae39-9d32b41b55b7" parentID="-1" level="1" creatorID="0" sortOrder="7" createDate="2018-03-15T04:53:57" updateDate="2018-03-15T04:53:57" nodeName="Search" urlName="search" path="-1,1085" isDoc="" nodeType="1084" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1083" nodeTypeAlias="search" isPublished="true" />
  <portfolio_item id="1089" key="1566d6ea-04bf-4ab3-93bf-1c8c13aba6d6" parentID="-1" level="1" creatorID="0" sortOrder="8" createDate="2018-04-05T15:11:19" updateDate="2018-04-05T15:11:19" nodeName="Portfolio_item" urlName="portfolio_item" path="-1,1089" isDoc="" nodeType="1088" creatorName="Nguyen Tan Phat" writerName="Nguyen Tan Phat" writerID="0" template="1087" nodeTypeAlias="portfolio_item" isPublished="true" />
</root>